.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b33434;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
}

#popup {
    display: none;
    opacity: 0;
}

#popup.show {
    display: block;
    opacity: 1;
}