@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cart-container {
    max-width: 800px;
    margin: 130px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 20px 0;
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.item-controls {
    display: flex;
    align-items: center;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.botoes button {
    flex: 1; 
    padding: 10px; 
    min-width: 150px;
    text-align: center;
}

/* Adiciona estilos para garantir consistência e responsividade */
button {
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}



.btn-minus,
.btn-plus{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px; /* Ajuste para espaçamento entre botões em telas pequenas */
    cursor: pointer;
    border-radius: 3px; 
}

.btn-remove {
    background-color: #f90000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px; /* Ajuste para espaçamento entre botões em telas pequenas */
    cursor: pointer;
    border-radius: 3px;
}


.item-total {
    font-weight: bold;
}

.cart-summary {
    margin-top: 20px;
    text-align: right;
}

.cart-summary p {
    margin: 10px 0;
}

.cart-summary span {
    font-weight: bold;
    color: #333;
}

.checkout-btn {
    text-align: center;
    margin-top: 20px;
}

#checkout-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    .cart-container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        text-align: center;
        color: #333;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    .cart-item {
        border-bottom: 1px solid #ccc;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centralizar conteúdo na tela pequena */
    }
    
    .item-info {
        display: flex;
        flex-direction: column; /* Ajuste para empilhar os elementos em telas pequenas */
        align-items: center; /* Centralizar conteúdo na tela pequena */
    }
    
    .item-image {
        width: 60px;
        height: 60px;
        margin-bottom: 10px; /* Adaptação para espaçamento inferior na tela pequena */
    }
    
    .item-controls {
        margin-top: 10px; /* Adaptação para espaçamento superior na tela pequena */
    }
    
    .btn-minus,
    .btn-plus{
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        margin: 5px 0; /* Ajuste para espaçamento entre botões em telas pequenas */
        cursor: pointer;
        border-radius: 3px; 
    }
    
    .btn-remove {
        background-color: #f90000;
        color: #fff;
        border: none;
        padding: 5px 10px;
        margin: 5px 0; /* Ajuste para espaçamento entre botões em telas pequenas */
        cursor: pointer;
        border-radius: 3px;
    }
    
    .item-total {
        font-weight: bold;
        margin-top: 10px; /* Adaptação para espaçamento superior na tela pequena */
    }
    
    .cart-summary {
        margin-top: 20px;
        text-align: right;
    }
    
    .cart-summary p {
        margin: 10px 0;
    }
    
    .cart-summary span {
        font-weight: bold;
        color: #333;
    }
    
    .checkout-btn {
        text-align: center;
        margin-top: 20px;
    }
    
    #checkout-button {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pagamento-aprovado {
    margin-top: 30px;
    background-color: #f8f9fa; /* Um fundo claro, mas não inteiramente branco, para suavizar o visual */
    padding: 20px; /* Espaçamento interno para não tocar nas bordas */
    border-radius: 5px; /* Bordas arredondadas para um look moderno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Uma leve sombra para adicionar profundidade */
    text-align: center; /* Centraliza o texto para um look mais limpo e organizado */
}

.pagamento-aprovado h2 {
    color: #28a745; /* Uma cor verde que indica sucesso */
    margin-top: 0; /* Remove a margem superior para alinhar melhor no topo */
}

.pagamento-aprovado p {
    color: #6c757d; /* Uma cor de texto suave para não sobrecarregar visualmente */
    line-height: 1.5; /* Espaçamento de linha para melhor legibilidade */
}

.pagamento-aprovado button {
    background-color: #0d6acd; /* Cor azul padrão para ações */
    color: white; /* Texto branco para contraste */
    border: none; /* Sem bordas para um look limpo */
    padding: 10px 20px; /* Espaçamento interno adequado */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Indica que o elemento é clicável */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.pagamento-aprovado button:hover {
    background-color: #0056b3; /* Um azul mais escuro ao passar o mouse para feedback visual */
}


/* ////////////////////////////////////// */

/* Navbar */
#navbar {
    width: 100%;
    background: #ffffff;
    color: #272362;
    height: 100px;
    position: fixed;
    z-index: 1000;
    top: 0px;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-container li, #navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-mobile {
    display: none;
}

.logo img {
    height: 70px;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 15px;
}

#navbar-items li:hover {
    text-decoration: underline;
    text-decoration-color: #F9DE4B;
}

#menu-icon{
    font-size: 34px;
    color: var(--text-color);
    z-index: 10001;
    margin-right: 20px;
}

.header-icons i{
    font-size: 32px;
    color: #272362;
    margin-right: 20px;
    transition: all .36s ease;
}
.header-icons {
    display: flex;
    align-items: center;
}

.header-icons i {
    padding-left: 20px;
}

/* ////////////////////////////////////// */

/* Navbar Mobile */

@media screen and (max-width: 860px) {
    #navbar {
        width: 100%;
        height: 180px;
        display: none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
    .menu {
        position: relative;
    
        > .menu-trigger {
            display: inline-grid;
            place-items: center;
            padding: 0.5em;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            cursor: pointer;
        }
    
        > .menu-menu {
            background: #fff;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
            position: absolute;
            right: 5px;
            margin-top: 0.5em;
            transition: opacity 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
    
            
            > li {
                padding: 0.2em 0.4em;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px 0px;
                > a {
                    color: #272362;
                    text-align: center;
                    text-decoration: underline #F9DE4B;
                    font-size: 1.4rem;
                }
            }
        }
    
        &[data-aberto="true"] {
            > .menu-trigger > .fa-bars {
            display: none;
            }
            
            > .menu-menu {
            opacity: 1;
            visibility: visible;
            }
        }
    
        &[data-aberto="false"] {
            > .menu-trigger > .fa-xmark {
            display: none;
            }
            
            > .menu-menu {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s step-end;
            }
        }
    }
    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
        margin: 0px;
        position: fixed;
        background-color: #fff;
        z-index: 10;
    }
}

/* /////////////////////////////////////////// */

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    font-weight: normal;
    color:#272362;
    margin: 30px 0;
}