@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ////////////////////////////////////// */

/* Navbar */
#navbar {
    width: 100%;
    background: #ffffff;
    color: #272362;
    height: 100px;
    position: fixed;
    z-index: 1000;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-container li, #navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-mobile {
    display: none;
}

.logo img {
    height: 70px;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 15px;
}

#navbar-items li:hover {
    text-decoration: underline;
    text-decoration-color: #F9DE4B;
}


/* ////////////////////////////////////// */

/* Navbar Mobile */

@media screen and (max-width: 860px) {
    #navbar {
        width: 100%;
        height: 180px;
        display: none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
    .menu {
        position: relative;
    
        > .menu-trigger {
            display: inline-grid;
            place-items: center;
            padding: 0.5em;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            cursor: pointer;
        }
    
        > .menu-menu {
            background: #fff;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
            position: absolute;
            right: 5px;
            margin-top: 0.5em;
            transition: opacity 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
    
            
            > li {
                padding: 0.2em 0.4em;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px 0px;
                > a {
                    color: #272362;
                    text-align: center;
                    text-decoration: underline #F9DE4B;
                    font-size: 1.4rem;
                }
            }
        }
    
        &[data-aberto="true"] {
            > .menu-trigger > .fa-bars {
            display: none;
            }
            
            > .menu-menu {
            opacity: 1;
            visibility: visible;
            }
        }
    
        &[data-aberto="false"] {
            > .menu-trigger > .fa-xmark {
            display: none;
            }
            
            > .menu-menu {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s step-end;
            }
        }
    }
    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
        margin: 0px;
        position: fixed;
        background-color: #fff;
        z-index: 10;
    }
}

/* ////////////////////////////////////// */

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/src/img/Avental-Amarelo-MS.jpg') no-repeat center center/cover;
    padding-top: 10%;

    /* Overlay */
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
    margin-top: 15%;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background: #EC1B22;
    color: #eee;
    border-radius: 15px;
    transition: background 500ms ease;
    width: 250px;
    max-height: 60px;
    margin: 50px 30px;
}

.main-buttons :nth-child(2n) {
    background: #ffffff35;
    border: #ffffff 2px solid;
}

.btn:hover {
    cursor: pointer;
    background: #ff474d;
}

#link-store-btn2:hover {
    background: #ffffff69;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* ////////////////////////////////////// */

/* About */

.headline {
    margin: 30px 0;
    color:#272362;
    font-weight: normal;
}

#squares {
    width: 80%;
    margin-bottom: 40px;
    z-index: -1;
}

.texts {
    display: flex;
    width: 75%;
    position: absolute;
    color: #ffffff;
    font-size: 1.1rem;
}
.texts h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.historia-square {
    padding-right:100px;
    padding-top: 100px;

}

.sobre-square {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 160px;
    justify-content: end;
}

.overlap-section {
    display: flex;
    width: 80%;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 0vh; 
    min-height: fit-content;
    color: #ffffff;
}

.square {
    display: flex;
    flex-direction: column;
    width: 600px;
    width: 40%;
    min-height: 360px;
    height: fit-content;
    background-color: #EC1B22;
    position: absolute;
    left: 200px; 
    left: 10;
    padding: 30px;
    font-size: 1rem;
}

.square h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.square2 span {
    padding-left: 25%;
}

.square1 {
    z-index: 2; 
}

.square2 {
    background-color: #272362; 
    z-index: 1;
    width: 40%;
    left: 45%; 
    top: 50px;
    display: flex;
    flex-direction: column;
    text-align: right;
    min-height: 400px;
}

#about-mobile {
    display: none;
    height: 0px;
}

@media screen and (max-width: 1180px) {
    #about {
        display: none;
    }

    #squares {
        display: none;
    }

    #about-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        margin-bottom: 40px;
    }

    .squares {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .square-mobile {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: 300px;
        height: fit-content;
        background-color: #EC1B22;
        padding: 30px;
        font-size: 1rem;
        margin: 20px;
        color: #ffffff;
    }

    .square2-mobile {
        background-color: #272362;  
    }

}

/* ////////////////////////////////////// */

/* Actions */
#actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#actions .headline {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

#actions p {
    color:#272362;
    margin-bottom: 40px;
    text-align: center;
}

.cards {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
    
}

.cards img {
    margin: 0px 20px 20px;
    border-radius: 40px;
    box-shadow: 10px 10px 5px rgb(201, 201, 201);
}

/* ////////////////////////////////////// */

/* Campaign */
#campaigns {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#campaigns .headline {
    margin-bottom: 0px;
}

.campaign-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.campaign-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 320px;
    background-color: #E0E0E0;
    margin: 25px;
    border-radius: 25px;
    color: #272362;
}

.campaign-card img {
    display: flex;
    height: 60px;
    width: 60px;
    margin: 20px 0px;
}

.campaign-card-title {
    margin-bottom: 20px;
}

.campaign-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272362;
    text-align: center;
    margin: 0px 20px;
}

/* ////////////////////////////////////// */

/* Esteira Parceiros*/

/* Animação */
@keyframes scroll{
    0%{
        transform: translateX(2px);
    }
    99%{
        transform: translateX(calc(-250px * 5.5));
    }
}

.parceiros{
    text-align: center;
    padding: 30px;
}
.slider {
    background: #E0E0E0;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track{
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 12);
}


.slider .cacau{
    height: 250px;
    width: 250px;
    margin-left: 110px;
    margin-top: 4.3rem;
}

.slider .entreposto{
    height: 250px;
    width: 250px;
    margin-left: 110px;
    margin-top: 5.6rem;
}

.slider .nag{
    height: 250px;
    width: 250px;
    margin-left: 110px; 
    margin-bottom: -20rem;
}

.slider .colegio{
    height: 250px;
    width: 250px;
    scale: 99%;
    margin-left: 110px;
    margin-top: -0.1rem;
}

.slider .insperjr{
    height: 250px;
    width: 250px;
    scale: 84%;
    margin-left: 110px;
    margin-top: -0.3rem;
}

.slider .mattosfilho{
    height: 250px;
    width: 250px;
    margin-left: 110px;
    margin-top: -0.1rem;
}

.slider .choco{
    height: 250px;
    width: 250px;
    margin-left: 110px; 
    margin-top: -0.2rem;
}

.slider .agax{
    scale: 81%;
    height: 250px;
    width: 250px;
    margin-left: 80px;
    margin-top: -1.4rem;
}

/* /////////////////////////////////////////// */

/* Footer */
#footer {
    width: 100%;
    background: #272362;
    color: #eee;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#footer .headline {
    color:#ffffff;
    margin-bottom: 0px;
    padding-bottom:20px;
}

hr {
    width:60%;
    margin: 20px 0px;
}
#social-media-link {
    display:flex;
    align-items: center;
    padding: 0px 10px;
}

#social-media-link a {
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 0px 5px;

}
#social-media-link p {
    display: flex;
    margin: 10px 0px;
    text-align: center;
    width: fit-content;
    max-width: 90%;
    text-wrap: wrap;
}

#social-media-link i {
    margin: 10px;
}

.flaticon {
    display: flex;
    font-size: 10px;
    margin-top: 10px;
}

/* /////////////////////////////////////////// */


