@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ////////////////////////////////////// */

/* Navbar */
#navbar {
    width: 100%;
    background: #ffffff;
    color: #272362;
    height: 100px;
    position: fixed;
    z-index: 1000;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-container li, #navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-mobile {
    display: none;
}

.logo img {
    height: 70px;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 15px;
}

#navbar-items li:hover {
    text-decoration: underline;
    text-decoration-color: #F9DE4B;
}


/* ////////////////////////////////////// */

/* Navbar Mobile */

@media screen and (max-width: 860px) {
    #navbar {
        width: 100%;
        height: 180px;
        display: none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
    .menu {
        position: relative;
    
        > .menu-trigger {
            display: inline-grid;
            place-items: center;
            padding: 0.5em;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            cursor: pointer;
        }
    
        > .menu-menu {
            background: #fff;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
            position: absolute;
            right: 5px;
            margin-top: 0.5em;
            transition: opacity 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
    
            
            > li {
                padding: 0.2em 0.4em;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px 0px;
                > a {
                    color: #272362;
                    text-align: center;
                    text-decoration: underline #F9DE4B;
                    font-size: 1.4rem;
                }
            }
        }
    
        &[data-aberto="true"] {
            > .menu-trigger > .fa-bars {
            display: none;
            }
            
            > .menu-menu {
            opacity: 1;
            visibility: visible;
            }
        }
    
        &[data-aberto="false"] {
            > .menu-trigger > .fa-xmark {
            display: none;
            }
            
            > .menu-menu {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s step-end;
            }
        }
    }
    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
        margin: 0px;
        position: fixed;
        background-color: #fff;
        z-index: 10;
    }
}

/* ////////////////////////////////////// */

