@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ////////////////////////////////////// */

/* Navbar */
#navbar {
    width: 100%;
    background: #ffffff;
    color: #272362;
    height: 100px;
    position: fixed;
    z-index: 1000;
    top: 0;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-container li, #navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-mobile {
    display: none;
}

.logo img {
    height: 70px;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 15px;
}

#navbar-items li:hover {
    text-decoration: underline;
    text-decoration-color: #F9DE4B;
}


/* ////////////////////////////////////// */

/* Navbar Mobile */

@media screen and (max-width: 860px) {
    #navbar {
        width: 100%;
        height: 180px;
        display: none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
    .menu {
        position: relative;
    
        > .menu-trigger {
            display: inline-grid;
            place-items: center;
            padding: 0.5em;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            cursor: pointer;
        }
    
        > .menu-menu {
            background: #fff;
            border: 1px solid #CCC;
            border-radius: 0.3em;
            box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
            position: absolute;
            right: 5px;
            margin-top: 0.5em;
            transition: opacity 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
    
            
            > li {
                padding: 0.2em 0.4em;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px 0px;
                > a {
                    color: #272362;
                    text-align: center;
                    text-decoration: underline #F9DE4B;
                    font-size: 1.4rem;
                }
            }
        }
    
        &[data-aberto="true"] {
            > .menu-trigger > .fa-bars {
            display: none;
            }
            
            > .menu-menu {
            opacity: 1;
            visibility: visible;
            }
        }
    
        &[data-aberto="false"] {
            > .menu-trigger > .fa-xmark {
            display: none;
            }
            
            > .menu-menu {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s step-end;
            }
        }
    }
    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
        margin: 0px;
        position: fixed;
        background-color: #fff;
        z-index: 10;
    }
}

/* /////////////////////////////////////////// */

/* Footer */
#footer {
    width: 100%;
    background: #272362;
    color: #eee;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#footer .headline {
    color:#ffffff;
    margin-bottom: 0px;
    padding-bottom:20px;
}

hr {
    width:60%;
    margin: 20px 0px;
}
#social-media-link {
    display:flex;
    align-items: center;
    padding: 0px 10px;
}

#social-media-link a {
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 0px 5px;

}
#social-media-link p {
    display: flex;
    margin: 10px 0px;
    text-align: center;
    width: fit-content;
    max-width: 90%;
    text-wrap: wrap;
}

#social-media-link i {
    margin: 10px;
}

.flaticon {
    display: flex;
    font-size: 10px;
    margin-top: 10px;
}

/* /////////////////////////////////////////// */

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    font-weight: normal;
    color:#fff;
    margin: 30px 0;
}

/* /////////////////////////////////////////// */

/* Donation */

#donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

#donation .headline {
    color: #fff;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #fff;
}

.contato-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #EC1B22;
    width: 80%;
    margin-top: 120px;
}

.boxes {
    display: grid;
    width: 100%;
    padding: 0 10%;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272362;
    text-align: center;
    color: #fff;
}

.left1 {
    display: flex;
    flex-direction: column;
    align-items:self-start;
    background-color: #272362;
    text-align: center;
    color: #fff;
    padding: 0 10% 10% 0;
}

.group-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.left2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left2 img {
    width: 150px;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.left .headline {
    padding: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: url('/src/img/LojaMS.png') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
}

#link-loja:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
    /* Animação que texto aumenta */
    transition: font-size 0.5s;
    font-size: 1.4rem;

}

#link-loja {
    font-size: 1.3rem;
    transition: font-size 0.5s;
}